
<div>
  <ul>
      <li>
        <h2><%= @post.title %></h2>
      </li>
      <li>
        <p><%= @post.body %></p>
      </li>
      <p> <%= @post.user.first_name %>  <%= @post.user.second_name %></p> 
  </ul>
</div>
<h2> <%= flash[:success] %> </h2>
<div>
  <%= render 'shared/form' %>
<div>
  <ul>
    <% @post.comments.each do |c| %>
      <li>
        <p><%= c.body %></p>
      </li>
        <p><%= c.user.first_name %>  <%= c.user.second_name %></p>
    <% end %>
  </ul>
</div>