<div>
  <ul>
      <li>
        <h2><%= @post.title %></h2>
      </li>
      <li>
        <p><%= @post.body %></p>
      </li>
      <p><%= @post.user.first_name %> <%= @post.user.second_name %></p>
  </ul>
</div>
<div>
<%= render 'form'%>
</div>