<div>
  <h2> <%= flash[:success] %> </h2>
  <ul>
      <li>
        <h2><%= @post.title %></h2>
      </li>
      <li>
        <p><%= @post.body %></p>
      </li>
  </ul>
  <div>
    <%= link_to "Update post", edit_admin_post_path(@post) %>
    <%= button_to "Delete post", admin_post_path(@post), method: :delete, confirm: "Are you shure?" %>
  </div>
  <ul>
    <h2> See comments </h2>
    <% @post.comments.each do |comment| %>
    <li>
      <p><%= comment.body %></p>
    </li>
    <%= link_to "Edit comment", admin_post_comment_path(@post, comment) %>
    <% end %>
  </ul>
</div>
